table {
  border-collapse: collapse;
  font-weight: 400;
}

tr {
  border-bottom: 1px solid rgb(179, 179, 179);
}

th,
td {
  min-width: 150px;
  padding: 6px;
}

td {
  font-weight: 500;
}

th {
  border: 1px solid rgb(179, 179, 179);
  background-color: rgb(238, 238, 238);
  font-size: 16px;
}

.project,
.client {
  text-align: left;
}

.hours,
.billable-hours,
.billable-amount {
  text-align: right;
}

td.project,
td.client,
td.hours {
  color: blue;
}

.table-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
