body {
  font-family: Arial, Helvetica, sans-serif;
}

table {
  border-collapse: collapse;
  font-weight: 400;
}

tr {
  border-bottom: 1px solid rgb(179, 179, 179);
}

th,
td {
  min-width: 150px;
  padding: 10px;
}

td {
  font-weight: 500;
  font-size: 0.85rem;
}

th {
  border: 1px solid rgb(179, 179, 179);
  color: rgb(26, 26, 26);
  background-color: rgb(238, 238, 238);
  font-size: 0.75rem;
}

.project,
.client {
  text-align: left;
}

.hours,
.billable-hours,
.billable-amount {
  text-align: right;
}

.billable-amount {
  font-weight: 600;
}

/* .billable-hours {
  color: rgb(179, 179, 179);
} */

.billable-hour-space {
  padding: 1px;
}

.billable-hour-percentage {
  display: inline-block;
  width: 65px;
  color: rgb(128, 128, 128);
}

.billable-hour-amount {
  color: rgb(80, 80, 80);
}

td.project,
td.client,
td.hours {
  color: #0047ab;
}

.table-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
